@model EntityLayer.Concrete.Comment

<div class="comment-top">
	<h4>Yorumlar</h4>
	<div class="media">
		<img src="~/CoreBlogTema/web/images/t1.jpg" alt="" class="img-fluid" />
		<div class="media-body">
			<h5 class="mt-0">@Model.Username</h5>
			<p>
				@Model.Content
			</p>
		</div>
	</div>
</div>