<div class="tech-btm">

	<h4>Mail Bültenine abone olun</h4>
	<p>Teknoloji, yazılım ve diger bloglar...</p>

	<form asp-action="SubscribeMail" asp-controller="NewsLetter" method="post">
		<input type="email" placeholder="email" name="email" />
		<input type="submit" value="Subscribe" />

	</form>


</div>
